.skillsContainer {
    display: flex;
    flex-direction: column;
    padding: 3vw;
}
.skillsBar {
    background: #b92b27; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #1565c0,
        #b92b27
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #1565c0,
        #b92b27
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 20px;
    margin: 1%;
    border-radius: 15px;
}
.skillWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.skillText {
    color: white;
}
