.welcomeText {
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;

    flex-direction: column;
    color: #5aff15;
    width: 100%;
}
.helloText {
    padding-top: 4vh;
}
.iAmClass {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    flex-direction: column;
    color: #5aff15;
}
.welcomeTextContainer {
    width: 70%;
}
