.NavContainerStyle {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
    background: #2f4858;
}
.NavLinkStyle {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #5aff15;
    text-decoration: none;
    transition: all 0.4s ease;
    &:hover {
        background-color: #5aff15;
    }
}
.noDecor {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    transition: all 0.2s ease;

    &:hover {
        color: black;
    }
}
.contactButtonStyle {
    background-color: #4da167;
    border-radius: 5px;
    height: 55px;
}
