.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #33658a;
    width: 25vw;
    border-radius: 20px;
    padding: 2vh;
    margin-bottom: 5%;
}
.introImg {
    width: 10vw;
    border-radius: 20px;
}
