.homeContainerStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #000000,
        #434343
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #000000,
        #434343
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    width: 100%;
    color: #fff;
}
.introCards {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 15%;
    background: darkgrey;
    padding-top: 2%;
    border-radius: 25px;
    opacity: 0.75;
}

.csulbText ul {
    direction: rtl;
}
.csulbContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 25px;
}


.resumeButton {
    color: #fff;

    width: 100%;
    padding: 10px;
    margin: 10px;
    
    border-radius: 5px;
    background: none;
    border: 1px solid #5aff15;
    text-decoration: none;
    transition: all 0.4s ease;
    
}

hr {
    width: 80%;
    border: 0;
    height: 2px;
    background: #3494e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ec6ead,
        #3494e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ec6ead,
        #3494e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 5%;
    margin-bottom: 5%;
}
@media (max-width: 500px) {
    .csulbContainer {
        flex-direction: column;
    }
    .welcomeContainer {
        flex-direction: column;
    }
    .welcomePicture {
        width: 80%;
        height: 80%;
    }
    .csulbLogo {
        width: 80%;
        height: 80%;
    }
}
