.projectImage {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5%;
}
.project-card-closed {
    background-color: #27475e;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card-open {
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
