.projectImage {
    height: 10vh;
    width: 10vw;
    background: #86bbd8;
}
.projectContainerStyle {
    background-color: #27475e;
    height: auto;
    padding: 3vw;
    margin: 3vw;
    flex: 1 0 21%;
    &:focus {
        z-index: 1;
    }
}
