.projectImage {
    background: #86bbd8;
}
.project-card-closed {
    background-color: #27475e;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
