body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body,
html {
    font-family: 'Source Code Pro';
    background: #000;
}

input:focus {
    outline: none;
}
input {
    align-items: center;
}
::placeholder {
    background-color: transparent;
    color: darkslategray;
}

body::-webkit-scrollbar {
    width: 20px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #000; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #5aff15; /* color of the scroll thumb */
    border-radius: 25px; /* roundness of the scroll thumb */
    border: 7px solid #000; /* creates padding around scroll thumb */
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
input {
    font-size: 18px;
}
button {
    font-size: 18px;
}
p {
    font-size: 18px;
}
@media (min-width: 1000px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    input {
        font-size: 20px;
    }
    button {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 12px;
    }
    h5 {
        font-size: 10px;
    }
    h6 {
        font-size: 8px;
    }
    input {
        font-size: 12px;
    }
    button {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
}
