.inputStyle {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    height: 15vh;
    width: 80vw;
    padding: 2vw;
    
}
.flexContainer{
    display: flex;
    align-items: center;
    width: 80vw;
}
.containerStyle{
    margin-top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3vh;
}