.openAIform {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 90%;
    align-items: center;
    margin-top: 4%;
}
.openAIinput {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #5aff15;
    font-size: 1.2em;
    padding: 5px;
    width: 70%;
}
.openAISubmit {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    padding: 5px;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 5px;

    &:hover {
        background: #5aff15;
        color: #000;
        border-color: #000;
    }
}
.inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.blink {
    animation: blinker 0.8s step-start infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
