.containerStyleProjects {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    width: 100%;
}
.ulStyle {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a2932;
    width: 90%;
    min-height: 100%;
    opacity: 0.8;
    border-radius: 2vw;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 20%;
    margin: 1%;
    background-color: #1a2932;
    border-radius: 2vw;
    box-shadow: 0px 0px 10px #1a2932;
}
@media (max-width: 768px) {
    .projectContainer {
        width: 80%;
        height: 20%;
        margin: 1%;
    }
}
@media (max-width: 425px) {
    .projectContainer {
        width: 90%;
        height: 40%;
        margin: 1%;
    }
}
.card{
    background-color: #1a2932;
    padding: 3rem 5rem;
}
