@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
body, html{
    font-family: 'Fira Sans';
}
h1,h2,h3,h4{
    font-family: 'Source Sans Pro';
}
h1{
    font-size: 6vw;
}
h2{
    font-size: 4vw;
}
h3{
    font-size: 2vw;
}
h4{
    font-size: 1vw;
}
input:focus{
    outline: none;
}
input{
    font-size: 5vw;
    align-items: center;
    caret-color: white;
    text-shadow: 0 0 100px #888;
}