.containerStyle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #000000,
        #434343
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #000000,
        #434343
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    width: 100%;
    color: #fff;
}
.introCards {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 15%;
    background: darkgrey;
    padding-top: 2%;
    border-radius: 25px;
    opacity: 0.75;
}
