.welcomeText {
    font-size: 5vw;

    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    padding: 5vh 2vw;
    flex-direction: column;
    color: #5aff15;
    width: 100%;
}
.helloText {
    padding-top: 5vh;
}

.containerStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #000
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    min-height: 100vh;
    width: 100%;
}
.introCards {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 15%;
    background: darkgrey;
    padding-top: 2%;
    border-radius: 25px;
    opacity: 0.75;
}
.iAmClass {
    font-size: 5vw;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    padding-bottom: 20vh;
    flex-direction: column;
    color: #5aff15;
    padding: 5vh 2vw;
}
